{% extends 'base.html.twig' %}

{% block title %}Notice{% endblock %}

{% block body %}
    <h1>Notice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notice.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ notice.createdAt ? notice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ notice.description }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ notice.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notice_index') }}">back to list</a>

    <a href="{{ path('notice_edit', {'id': notice.id}) }}">edit</a>

    {{ include('notice/_delete_form.html.twig') }}
{% endblock %}
